// Colors

$color-black: #000000;
$color-lighGray: #E5E5E5;
$color-white: #FFFFFF;
$color-gray: #555555;
$color-green: #7AC751;
$color-lighBlue: #00B7F1;
$color-lighGrey: #c2c2c2;
$color-main: #CCCCCC;
$color-transparent-grey: #757575;

// RGBA

$grey-rgba: rgba(117, 117, 117, 0.71);
$btn-bg-color: rgba(28, 28, 28, 0);


// Fonts

$mulish-font: "Mulish", sans-serif;
$rubik-font: "Rubik", sans-serif;
