.container {
    display: block;
    max-width: 1250px;
    margin: 0 auto;
}


.nav-settings {
    margin-left: 140px;
    margin-top: 30px;
}

.nav-footer-settings {
    padding-left: 39px;
}

.footer-link-settings {
    padding-top: 25px;
}

.address-settings {
    padding-top: 4px;
}