/* Colors */

$blue-color: #60C1BD;
$header-section-color: #284854;
$white-color: #FFFFFF;
$green-color: #8BC441;
$title-green-color: #798B56;
$header-lr-block-color: #F4F6F0;
$title-section-color: #E5E5E5;

/* Fonts */

$roboto: 'Roboto', sans-serif;
$natino: 'Natino', sans-serif;



