.hero-title {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  -webkit-background-clip: text;
          background-clip: text;
}

.h2-title {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
}

.cards_title,
.h3_title {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
}

.transform_link,
.name,
.title_clients,
.input_user_contacts {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
}

.card_title,
.footer_number,
.footer_email,
.button {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.cards_info,
.paragraph_content,
.input {
  font-family: "Montserrat-Regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.item {
  font-family: "Montserrat-Regular";
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.footer_rights {
  font-family: "Montserrat-Regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.hero-title {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  -webkit-background-clip: text;
          background-clip: text;
}

.h2-title {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
}

.cards_title,
.h3_title {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
}

.transform_link,
.name,
.title_clients,
.input_user_contacts {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
}

.card_title,
.footer_number,
.footer_email,
.button {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.cards_info,
.paragraph_content,
.input {
  font-family: "Montserrat-Regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.item {
  font-family: "Montserrat-Regular";
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.footer_rights {
  font-family: "Montserrat-Regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  src: url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat-Regular";
  font-weight: 400;
  src: url("../fonts/Montserrat-Regular.ttf");
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  width: 100%;
  padding-top: 55px;
}

.fixe_size_conteiner {
  max-width: 1320px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

.header_conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.header_main_information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.logo_wrap {
  display: block;
  position: absolute;
  left: 15px;
}

.header-logo a {
  display: block;
}

.button_menu {
  display: none;
}

.language_conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.language {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  color: #B3B3BA;
  width: 33px;
  height: 25px;
  padding: 5px 7px;
  border-radius: 8px;
  cursor: pointer;
}
.language.active {
  background-color: #F0145A;
}
.language:hover {
  background-color: #F5F5FA;
}
.language:active {
  background-color: #F0145A;
}

.point {
  width: 6px;
  height: 6px;
  background: #E6E6F0;
  border-radius: 50%;
  margin: 0 6px;
}

.adress {
  font-family: "Montserrat-Regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #B3B3BA;
}

.number {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #B3B3BA;
}

.facebook_hover path:hover {
  fill: #F0145A;
}

.header_nav {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_nav .active a {
  color: #F0145A;
  text-decoration: underline;
}

.nav_item a {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #24A3FF;
  text-decoration: none;
}

.nav_item a:hover {
  text-decoration: underline;
}

.nav_item a:active {
  color: #F0145A;
  text-decoration: underline;
}

.nav_item:not(:last-child) {
  margin-right: 15px;
}

.gdpr_publication {
  background-color: #FFFFFF;
  padding: 60px 0;
}
.gdpr_publication img {
  max-width: 100%;
  height: auto;
}
.gdpr_publication .main-title {
  color: #323264;
  margin: 30px 0 15px;
}
.gdpr_publication .data {
  font-family: "Montserrat-Regular";
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  color: #B3B3BA;
}
.gdpr_publication .line {
  max-width: 1080px;
  height: 4px;
  background-color: #E6E6F0;
  border: none;
  margin: 30px 0;
}
.gdpr_publication .paragraph_content {
  color: #000000;
}
.gdpr_publication .h2_margin {
  margin: 30px 0;
}
.gdpr_publication .h3_title {
  color: #323264;
}
.gdpr_publication .numbered_list {
  counter-reset: ol-numbers;
}
.gdpr_publication .numbered_list .item {
  position: relative;
  padding: 0 0 0 40px;
  margin-top: 15px;
}
.gdpr_publication .numbered_list .item::before {
  counter-increment: ol-numbers;
  content: counter(ol-numbers) ".";
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  text-align: right;
  color: #F0145A;
  font-family: "Montserrat-Bold";
  font-size: 18px;
  line-height: 26px;
}
.gdpr_publication .margin {
  margin-top: 30px;
}
.gdpr_publication .image_conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}
.gdpr_publication .image_conteiner .image_explanation {
  font-family: "Montserrat-Regular";
  font-size: 14px;
  line-height: 22px;
  color: #B3B3BA;
  margin-top: 15px;
  text-align: center;
}
.gdpr_publication .p_margin {
  margin-top: 15px;
}
.gdpr_publication .icons_conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.gdpr_publication .icons_conteiner .bc_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 42px;
  height: 42px;
  background-color: #F5F5FA;
  border-radius: 12px;
  cursor: pointer;
}
.gdpr_publication .icons_conteiner .bc_icon:hover {
  background-color: #EDEDF7;
}
.gdpr_publication .icons_conteiner .bc_icon:not(:last-child) {
  margin-right: 10px;
}

.pink_gradient {
  background: -o-linear-gradient(359.87deg, #F0145A 0.84%, #EF8080 99.96%);
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.fixe_size_conteiner_little {
  max-width: 1080px;
  margin: 0 auto;
}

.section_publications {
  background-color: #F5F5FA;
  padding: 30px 0;
}
.section_publications .margin {
  margin-bottom: 30px;
}

.transform_link a {
  color: #24A3FF;
  text-decoration: none;
  margin-bottom: 10px;
}
.transform_link a:hover {
  color: #F0145A;
}

.publication_conteiner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 30px;
}

.publication_card {
  background-color: #FFFFFF;
  border-radius: 8px;
}
.publication_card:hover {
  background-color: #EDEDF7;
  cursor: pointer;
}
.publication_card .bc_associate {
  background-image: url(../images/Associate.jpg);
}
.publication_card .bc_gdpr {
  background-image: url(../images/GDPR.jpg);
}
.publication_card .bc_testament {
  background-image: url(../images/Testament.jpg);
}
.publication_card .position {
  background-position: 50% 50%;
  max-width: 420px;
  min-height: 200px;
  border-radius: 8px 8px 0px 0px;
}
.publication_card .card_info {
  padding: 30px;
}
.publication_card .card_info .card_title {
  color: #24A3FF;
  margin-bottom: 15px;
}
.publication_card .card_info .card_date {
  font-family: "Montserrat-Bold";
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
}
.publication_card .card_info .line {
  max-width: 360px;
  height: 4px;
  background: #E6E6F0;
  margin: 15px 0;
  border: none;
}
.publication_card .card_info .card_text {
  font-family: "Montserrat-Regular";
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}

.horizontal_line {
  max-width: 1320px;
  height: 2px;
  background: #E6E6F0;
  margin: 30px 0 0;
  border: none;
}

.bc_footer {
  background-color: #F5F5FA;
  padding-bottom: 30px;
}

.footer_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_location,
.footer_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_contacts {
  margin-top: 21px;
}

.footer_adress {
  color: #323264;
  font-family: "Montserrat-Regular";
  font-size: 16px;
  line-height: 20px;
}

.footer_point {
  width: 6px;
  height: 6px;
  background: #B3B3BA;
  border-radius: 50%;
  margin: 0 10px;
}

.footer_map {
  font-family: "Montserrat-Bold";
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #24A3FF;
}
.footer_map:hover {
  color: #F0145A;
}

.footer_rights {
  color: #B3B3BA;
}

.footer_number {
  color: #46466E;
}

.footer_email {
  color: #24A3FF;
  text-decoration: none;
}
.footer_email:hover {
  color: #F0145A;
}

.footer_rights_mobile {
  display: none;
}

@media (max-width: 1100px) {
  .fixe_size_conteiner_little {
    max-width: 1320px;
    min-width: 320px;
  }
  .fixe_size_conteiner, .fixe_size_conteiner_little {
    padding: 0 60px;
  }
  .logo_wrap {
    display: block;
    position: absolute;
    left: 60px;
  }
  .publication_card {
    background-color: #FFFFFF;
    height: auto;
  }
}
@media (max-width: 1000px) {
  .header_conteiner {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .logo_wrap {
    display: block;
    position: static;
    margin: 30px 0;
  }
}
@media (max-width: 920px) {
  .publication_conteiner {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 514px 388px;
    grid-gap: 30px 30px;
  }
  .publication_conteiner .big-grid {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .publication_conteiner .big-grid .line {
    max-width: 740px;
  }
  .publication_conteiner .bc_testament {
    background-image: url(../images/TestamentBig.jpg);
  }
  .publication_conteiner .position {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    max-width: 800px;
    min-height: 200px;
    border-radius: 8px 8px 0px 0px;
  }
}
@media (max-width: 750px) {
  .header {
    padding-top: 0;
  }
  .fixe_size_conteiner, .fixe_size_conteiner_little {
    padding: 0 30px;
  }
  .header_main_information {
    padding: 15px 0;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .point,
  .adress,
  .header_facebook,
  .header_nav {
    display: none;
  }
  .button_menu {
    display: block;
  }
  .button_menu:hover {
    background-color: #E6E6F0;
    border-radius: 8px;
  }
  .logo_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-top: 15px;
  }
  .header-logo img {
    width: 213px;
    height: 57px;
  }
  .gdpr_publication {
    padding-top: 0;
  }
  .publication_conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .publication_conteiner .publication_card {
    width: 420px;
  }
  .publication_conteiner .bc_testament {
    background-image: url(../images/Testament.jpg);
  }
  .footer_point {
    display: none;
  }
  .footer_location,
  .footer_contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer_flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer_adress {
    margin-bottom: 10px;
  }
  .footer_rights_desktope {
    display: none;
  }
  .footer_number {
    margin: 10px 0;
  }
  .footer_rights_mobile {
    display: block;
    text-align: center;
    margin-top: 30px;
  }
}
@media (max-width: 450px) {
  .main-title {
    font-family: "Montserrat-Bold";
    font-size: 20px;
    line-height: 24px;
  }
  .hero-title {
    font-family: "Montserrat-Bold";
    font-size: 30px;
    line-height: 37px;
  }
  .h3_title {
    font-family: "Montserrat-Bold";
    font-size: 16px;
    line-height: 20px;
  }
  .publication_conteiner .publication_card {
    width: 315px;
  }
}
@font-face {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  src: url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat-Regular";
  font-weight: 400;
  src: url("../fonts/Montserrat-Regular.ttf");
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 55px;
}

.fixe_size_conteiner {
  max-width: 1320px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

.header_conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.header_main_information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.logo_wrap {
  display: block;
  position: absolute;
  left: 15px;
}

.header-logo a {
  display: block;
}

.button_menu {
  display: none;
}

.language_conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.language {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  color: #FFFFFF;
  width: 33px;
  height: 25px;
  padding: 5px 7px;
  border-radius: 8px;
  cursor: pointer;
}
.language.active {
  background-color: #F0145A;
}
.language:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.language:active {
  background-color: #F0145A;
}

.point {
  width: 6px;
  height: 6px;
  background: #E6E6F0;
  border-radius: 50%;
  margin: 0 6px;
}

.adress {
  font-family: "Montserrat-Regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.number {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.facebook_hover path:hover {
  fill: #F0145A;
}

.header_nav {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_nav .nav_item a, .header_nav .nav_item {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #FFFFFF;
  text-decoration: none;
}
.header_nav .nav_item {
  cursor: pointer;
}
.header_nav .nav_item:hover {
  text-decoration: underline;
}
.header_nav .nav_item:active {
  color: #F0145A;
  text-decoration: underline;
}
.header_nav .nav_item a:hover {
  text-decoration: underline;
}
.header_nav .nav_item a:active {
  color: #F0145A;
  text-decoration: underline;
}
.header_nav .nav_item:not(:last-child) {
  margin-right: 15px;
}

.section_benefits {
  padding-top: 376px;
  background-image: url("../images/Symbol.svg"), -o-linear-gradient(221.43deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  background-image: url("../images/Symbol.svg"), linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  background-repeat: no-repeat;
  background-position: top center;
  border-radius: 0 0 12px 12px;
}
.section_benefits::after {
  content: "";
  display: block;
  width: 98%;
  height: 10px;
  background-color: #CACADB;
  position: absolute;
  left: 1%;
  border-radius: 0px 0px 12px 12px;
  z-index: 3;
}

.main-title {
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 305px;
}

.scroll_conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
}

.scroll {
  background-image: url(../images/Scroll.svg);
  background-repeat: no-repeat;
  display: block;
  width: 42px;
  height: 42px;
}

.scroll:hover {
  background-image: url(../images/Scroll_hover.svg);
}

.benefits_wrap {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.type_benefits {
  text-align: right;
  display: inline-block;
}
.type_benefits .hero-title a {
  text-decoration: none;
}
.type_benefits .hero-title a:hover {
  color: #F0145A;
}

.pink {
  background: -o-linear-gradient(359.87deg, #EF8080 0.84%, #F0145A 99.96%);
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.grey {
  color: #B3B3BA;
  margin-top: 30px;
}

.vertical_line {
  border-left: 4px solid rgba(255, 255, 255, 0.3);
  height: 303px;
  margin: 0 60px;
}

.benefits_info {
  padding-top: 43px;
  max-width: 581px;
}
.benefits_info .white {
  color: #FFFFFF;
}

.benefits-text {
  font-family: Montserrat-Regular;
  font-size: 19px;
  line-height: 30px;
  color: #FFFFFF;
  margin-top: 30px;
}

.services_conteiner {
  padding: 60px 0 60px;
}

.transform_link a {
  color: #24A3FF;
  text-decoration: none;
  margin-bottom: 10px;
}
.transform_link a:hover {
  color: #F0145A;
}

.pink_gradient {
  background: -o-linear-gradient(359.87deg, #F0145A 0.84%, #EF8080 99.96%);
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.card {
  width: 400px;
  height: 321px;
  margin-bottom: 60px;
}

.flex_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards_background {
  width: 92px;
  height: 92px;
  background: #FFFFFF;
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cards_background img {
  width: 64px;
  height: 64px;
}

.cards_title {
  color: #24A3FF;
  margin: 30px 0 15px;
}

.cards_info {
  color: #FFFFFF;
}

.section_team {
  background-color: #FFFFFF;
  padding: 60px 0;
  position: relative;
}
.section_team::before {
  content: "";
  display: block;
  width: 96%;
  height: 20px;
  background-color: #E7E7F2;
  position: absolute;
  top: 0;
  left: 2%;
  border-radius: 0px 0px 12px 12px;
  z-index: 1;
}

.team_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F5F5FA;
  border-radius: 12px;
}
.team_wrap .bc-image {
  background-image: url(../images/man.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 400px;
  min-height: 344px;
}

.team_info {
  padding: 30px;
}
.team_info .margin {
  margin: 5px 0 30px;
}
.team_info .hero-title {
  max-width: 860px;
  display: inline-block;
}
.team_info .name {
  color: #B3B3BA;
  margin-bottom: 6px;
}
.team_info .post {
  font-family: "Montserrat-Regular";
  font-size: 14px;
  line-height: 22px;
  color: #B3B3BA;
}

.conteiner_point {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.conteiner_point .point_active {
  width: 16px;
  height: 16px;
  background: #24A3FF;
  border-radius: 50%;
}
.conteiner_point .point_regular {
  width: 16px;
  height: 16px;
  background: #9ad1f8;
  border-radius: 50%;
  margin-left: 15px;
}

.fixe_size_conteiner_big {
  width: 100%;
  margin: 0 auto;
}

.title_clients {
  color: #323264;
  text-align: center;
  margin-bottom: 30px;
}

.grid_clients {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bc_hillel {
  background-color: #1C4280;
}

.bc_wannabiz {
  background: #143646;
}

.bc_tapgerine {
  background: -webkit-gradient(linear, left bottom, left top, from(#F48B30), to(#F48B30)), #F48B30;
  background: -o-linear-gradient(bottom, #F48B30, #F48B30), #F48B30;
  background: linear-gradient(0deg, #F48B30, #F48B30), #F48B30;
}

.bc_3dlook {
  background: #9E4DC3;
}

.bc_orangear {
  background: #FD9339;
}

.bc_adtelligent {
  background: #E2E2E4;
}

.bc_clickky {
  background: #C71C36;
}

.bc_ecoleasing {
  background: #DCF3F9;
}

.bc_infratek {
  background: #EAEAEA;
}

.bc_citypark {
  background: #282240;
}

.bc_artprint {
  background: #1D4568;
}

.bc_ultimatecard {
  background: #000000;
}

.section_publications {
  background-color: #F5F5FA;
  padding: 30px 0;
}
.section_publications .margin {
  margin-bottom: 30px;
}

.publication_conteiner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 30px;
}

.publication_card {
  background-color: #FFFFFF;
  border-radius: 8px;
}
.publication_card:hover {
  background-color: #EDEDF7;
  cursor: pointer;
}
.publication_card .bc_associate {
  background-image: url(../images/Associate.jpg);
}
.publication_card .bc_gdpr {
  background-image: url(../images/GDPR.jpg);
}
.publication_card .bc_testament {
  background-image: url(../images/Testament.jpg);
}
.publication_card .position {
  background-position: 50% 50%;
  max-width: 420px;
  min-height: 200px;
  border-radius: 8px 8px 0px 0px;
}
.publication_card .card_info {
  padding: 30px;
}
.publication_card .card_info .card_title {
  color: #24A3FF;
  margin-bottom: 15px;
}
.publication_card .card_info .card_date {
  font-family: "Montserrat-Bold";
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
}
.publication_card .card_info .line {
  max-width: 360px;
  height: 4px;
  background: #E6E6F0;
  margin: 15px 0;
  border: none;
}
.publication_card .card_info .card_text {
  font-family: "Montserrat-Regular";
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}

.horizontal_line {
  max-width: 1320px;
  height: 2px;
  background: #E6E6F0;
  margin: 30px 0 0;
  border: none;
}

.modal_conteiner {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(50, 50, 100, 0.7450980392);
  top: 0;
  left: 0;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.active-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal {
  max-width: 650px;
  background-color: #F5F5FA;
  padding: 30px;
  -webkit-box-shadow: 0px 15px 80px rgba(40, 40, 86, 0.5);
          box-shadow: 0px 15px 80px rgba(40, 40, 86, 0.5);
  border-radius: 12px;
  position: relative;
}
.modal .close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
.modal .close:hover {
  background-color: #E6E6F0;
  border-radius: 8px;
}
.modal .name,
.modal .user_number,
.modal .user_email {
  height: 56px;
}
.modal .margin_name,
.modal .input_user_contacts {
  margin: 30px 0 15px;
}
.modal .input_user_contacts {
  color: #B3B3BA;
}
.modal .input {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  outline: none;
  padding: 15px;
}
.modal .input .message {
  vertical-align: top;
}
.modal .margin_email {
  margin: 15px 0 30px;
}
.modal .button {
  width: 100%;
  height: 56px;
  background: #24A3FF;
  -webkit-box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
          box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  border: none;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}
.modal .button:hover {
  background-color: #0085FF;
}
.modal .button:active {
  background-color: #006CCF;
}

.bc_footer {
  background-color: #F5F5FA;
  padding-bottom: 30px;
}

.footer_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_location,
.footer_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_contacts {
  margin-top: 21px;
}

.footer_adress {
  color: #323264;
  font-family: "Montserrat-Regular";
  font-size: 16px;
  line-height: 20px;
}

.footer_point {
  width: 6px;
  height: 6px;
  background: #B3B3BA;
  border-radius: 50%;
  margin: 0 10px;
}

.footer_map {
  font-family: "Montserrat-Bold";
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #24A3FF;
}
.footer_map:hover {
  color: #F0145A;
}

.footer_rights {
  color: #B3B3BA;
}

.footer_number {
  color: #46466E;
}

.footer_email {
  color: #24A3FF;
  text-decoration: none;
}
.footer_email:hover {
  color: #F0145A;
}

.footer_rights_mobile {
  display: none;
}

@media (max-width: 1280px) {
  .card {
    max-width: 320px;
    height: auto;
  }
  .benefits_info {
    padding-top: 0;
    max-width: 382px;
  }
}
@media (max-width: 1100px) {
  .fixe_size_conteiner {
    padding: 0 60px;
  }
  .logo_wrap {
    display: block;
    position: absolute;
    left: 60px;
  }
  .benefits-text {
    max-width: 405px;
  }
  .benefits_info {
    padding-top: 0;
  }
  .card {
    max-width: 262px;
  }
  .team_info {
    width: 504px;
  }
  .team_wrap .bc-image {
    background-image: url(../images/Man1100.jpg);
    background-repeat: no-repeat;
    background-position: top;
    min-height: 528px;
    border-radius: 12px 0 0 12px;
  }
  .publication_card {
    background-color: #FFFFFF;
    height: auto;
  }
}
@media (max-width: 1000px) {
  .header_conteiner {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .logo_wrap {
    display: block;
    position: static;
    margin: 30px 0;
  }
  .section_benefits {
    padding-top: 489px;
  }
  .benefits_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .type_benefits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: auto;
    width: 100%;
  }
  .type_benefits::-webkit-scrollbar {
    width: 0;
  }
  .type_benefits .hero-title {
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
  }
  .type_benefits .grey {
    margin-top: 0;
    margin-left: 30px;
  }
  .vertical_line {
    height: 0;
    border-top: 4px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    margin: 60px 0;
  }
  .benefits_info {
    max-width: 650px;
  }
  .benefits-text {
    max-width: 904px;
  }
  .card {
    max-width: 294px;
  }
  .team_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .team_wrap .bc-image {
    background-image: url(../images/Man920.jpg);
    width: 100%;
  }
  .team_info {
    width: 100%;
  }
}
@media (max-width: 920px) {
  .grid_clients {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .publication_conteiner {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 514px 388px;
    grid-gap: 30px 30px;
  }
  .publication_conteiner .big-grid {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .publication_conteiner .big-grid .line {
    max-width: 740px;
  }
  .publication_conteiner .bc_testament {
    background-image: url(../images/TestamentBig.jpg);
  }
  .publication_conteiner .position {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    max-width: 800px;
    min-height: 200px;
    border-radius: 8px 8px 0px 0px;
  }
}
@media (max-width: 750px) {
  .header {
    padding-top: 0;
  }
  .header::before {
    content: "";
    display: block;
    width: 100%;
    height: 45px;
    position: absolute;
    background: rgba(245, 245, 250, 0.2);
    top: 0;
    z-index: 1;
  }
  .fixe_size_conteiner {
    padding: 0 30px;
  }
  .header_main_information {
    padding: 15px 0;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .point, .adress, .header_facebook, .header_nav {
    display: none;
  }
  .button_menu {
    display: block;
  }
  .button_menu:hover {
    background-color: rgba(245, 245, 250, 0.2);
    border-radius: 8px;
  }
  .logo_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-top: 15px;
  }
  .header-logo img {
    width: 70px;
    height: 32px;
  }
  .section_benefits {
    padding-top: 231px;
  }
  .section_benefits::after {
    content: "";
    width: 96%;
    left: 2%;
  }
  .section_team::before {
    content: "";
    width: 92%;
    left: 4%;
  }
  .main-title {
    width: 100%;
    text-align: center;
    padding-bottom: 159px;
  }
  .scroll_conteiner {
    padding-bottom: 0;
  }
  .mobile_big_title {
    font-family: "Montserrat-Bold";
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
  }
  .mobile_h2_title {
    font-family: "Montserrat-Bold";
    font-size: 20px;
    line-height: 24px;
  }
  .card {
    max-width: 400px;
  }
  .grid_clients {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .bc_clickky,
  .bc_ecoleasing,
  .bc_infratek,
  .bc_citypark,
  .bc_artprint,
  .bc_ultimatecard {
    display: none;
  }
  .mobile_height {
    height: 120px;
  }
  .publication_conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .publication_conteiner .publication_card {
    width: 420px;
  }
  .publication_conteiner .bc_testament {
    background-image: url(../images/Testament.jpg);
  }
  .footer_point {
    display: none;
  }
  .footer_location,
  .footer_contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer_flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer_adress {
    margin-bottom: 10px;
  }
  .footer_rights_desktope {
    display: none;
  }
  .footer_number {
    margin: 10px 0;
  }
  .footer_rights_mobile {
    display: block;
    text-align: center;
    margin-top: 30px;
  }
}
@media (max-width: 450px) {
  .team_wrap .bc-image {
    background-image: url(../images/Man_mobile.jpg);
    width: 100%;
  }
  .section_benefits::after {
    content: "";
    width: 94%;
    left: 3%;
  }
  .section_team::before {
    content: "";
    width: 88%;
    left: 6%;
  }
  .publication_conteiner .publication_card {
    width: 315px;
  }
}
@media (max-width: 364px) {
  .mobile_big_title {
    font-size: 22px;
    line-height: 27px;
  }
}