* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  padding-top: 10px;
}

/* Colors */
/* Fonts */
.container {
  display: block;
  max-width: 1250px;
  margin: 0 auto;
}

.nav-settings {
  margin-left: 140px;
  margin-top: 30px;
}

.nav-footer-settings {
  padding-left: 39px;
}

.footer-link-settings {
  padding-top: 25px;
}

.address-settings {
  padding-top: 4px;
}

/* Navigation */
.nav-section {
  padding-top: 23px;
  background-color: #284854;
}

header nav {
  display: block;
  width: 1230px;
  height: 81px;
  border-radius: 100px;
  background-color: #60C1BD;
}

.logo {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #FFFFFF;
  padding-left: 50px;
  padding-right: 200px;
}

.nav-link {
  font-family: "Natino", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #284854;
  margin-left: 84px;
}

.login-button[type=login] {
  display: inline-block;
  font-family: "Natino", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  width: 77px;
  height: 27px;
  background: inherit;
  cursor: pointer;
  border: 2px solid #FFFFFF;
  -webkit-transition: background 0.25s, color 0.25s;
  -o-transition: background 0.25s, color 0.25s;
  transition: background 0.25s, color 0.25s;
}
.login-button[type=login]:hover {
  color: #284854;
  background: #FFFFFF;
}

/* Main Block */
.section-main {
  background: #284854;
  height: 799px;
}

.main-description {
  display: inline-block;
  max-width: 712px;
  margin-top: 119px;
  margin-left: 60px;
  margin-right: 49px;
}

.main-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 85px;
  line-height: 102px;
  color: #8BC441;
  margin-bottom: 60px;
}

.main-text {
  font-family: "Natino", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
  padding-right: 219px;
}

.main-img {
  display: inline-block;
  max-width: 313px;
  margin-top: 161px;
  margin-left: 45px;
}

/* Block Veterinarians */
.block-veterinarians {
  float: left;
  width: 506px;
  background: #F4F6F0;
  margin-left: 172px;
  margin-top: 220px;
}

/* Block Hospitals */
.block-hospitals {
  float: right;
  width: 506px;
  background: #F4F6F0;
  margin-right: 172px;
  margin-top: 220px;
}

/* Blocks Settings */
.block-title {
  font-family: "Natino", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 37px;
  line-height: 43px;
  color: #8BC441;
}

.block-link {
  font-family: "Natino", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #60C1BD;
}

.img-block {
  float: left;
  padding-left: 30px;
  padding-top: 45px;
}

.block-discription {
  float: left;
  padding: 48px 31px 48px 46px;
}

/* Title Section */
.section-title {
  background: #E5E5E5;
  height: 1687px;
  width: 100%;
}

.title1 {
  font-family: "Natino", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #60C1BD;
  text-align: center;
  padding-top: 250px;
}

.title-description1 {
  float: right;
  max-width: 541px;
  margin-top: 159px;
  margin-right: 120px;
  margin-bottom: 141px;
}

.title-description2 {
  float: left;
  max-width: 541px;
  margin-right: 100px;
  margin-left: 240px;
  margin-bottom: 120px;
}

.title-description3 {
  float: right;
  max-width: 541px;
  margin-right: 130px;
  margin-right: 115px;
}

.title-description1, .title-description2, .title-description3, h3 {
  padding-bottom: 10px;
}

.title2 {
  font-family: "Natino", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #798B56;
}

.title3 {
  font-family: "Natino", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  color: #284854;
}

.h2-title1 {
  font-family: "Natino", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 64px;
  color: #284854;
  text-align: center;
}

.img-title1 {
  float: left;
  margin-top: 100px;
  margin-left: 170px;
  margin-right: 130px;
  margin-bottom: 130px;
}

.img-title2 {
  float: right;
  margin-bottom: 80px;
  margin-right: 50px;
}

.img-title3 {
  float: left;
  margin-left: 170px;
  margin-right: 130px;
}

.h3-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #8BC441;
}

.underline {
  -webkit-text-decoration: underline #60C1BD;
          text-decoration: underline #60C1BD;
}

/* Mission Section */
.section-mission {
  background: #F4F6F0;
  height: 601px;
  width: 100%;
}

.mission-description {
  float: right;
  max-width: 512px;
  margin-top: 78px;
}

.mission-subtitle {
  font-family: "Natino", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #60C1BD;
}

.mission-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 64px;
  color: #284854;
  margin-top: 5px;
}

.mission-text {
  font-family: "Natino", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #284854;
  margin-top: 40px;
  margin-bottom: 35px;
}

.mission-button[type=button] {
  display: inline-block;
  font-family: "Natino", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #60C1BD;
  width: 130px;
  height: 40px;
  background: #F4F6F0;
  cursor: pointer;
  border: 2px solid #60C1BD;
  -webkit-transition: background 0.25s, color 0.25s;
  -o-transition: background 0.25s, color 0.25s;
  transition: background 0.25s, color 0.25s;
}
.mission-button[type=button]:hover {
  color: #FFFFFF;
  background: #60C1BD;
}

.mission-img {
  float: left;
  margin-top: 83px;
  margin-left: 120px;
}

/* Section Green */
.section-green {
  background: #8BC441;
  height: 438px;
  width: 100%;
}

.green-description {
  float: right;
  max-width: 516px;
  margin-top: 86px;
  margin-right: 150px;
}

.green-pleft {
  position: absolute;
  max-width: 239px;
  margin: 271px 132px 86px 585px;
}

.green-pright {
  position: absolute;
  max-width: 239px;
  margin: 271px 170px 64px 894px;
}

.deco-p {
  font-family: "Natino", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
}

.title-green {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 64px;
  color: #FFFFFF;
}

.green-img {
  float: left;
  margin: 90px 150px 80px 185px;
}

/* Footer */
.footer-section {
  background: #E5E5E5;
  height: 445px;
  width: 100%;
}

.veterinarians {
  float: left;
  max-width: 284px;
  margin-top: 100px;
  margin-bottom: 71px;
  margin-left: 152px;
  margin-right: 151px;
}

.hospitals {
  float: left;
  max-width: 284px;
  margin-top: 100px;
  margin-bottom: 71px;
}

.footer-nav {
  float: left;
  max-width: 572px;
  margin-left: 110px;
  margin-right: 22px;
  margin-bottom: 37px;
}

.copyright {
  float: left;
  max-width: 106px;
  margin-left: 145px;
}

.copyright-decoration {
  font-family: "Natino", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #284854;
}

.footer-title {
  font-family: "Natino", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #284854;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.link-footer {
  font-family: "Natino", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #60C1BD;
}

.footer-img {
  display: inline-block;
  margin-top: 110px;
  margin-bottom: 55px;
  margin-right: 97px;
}

.find-us {
  float: right;
  max-width: 327px;
  margin-top: 120px;
  margin-right: 69px;
}

.location {
  padding-top: 25px;
}

.contact {
  padding-top: 29px;
}